<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
<body>

<footer class="footer">
  <div class="footer-content"></div>
      <p>© 2025 KABLAOUI SOUMIA</p>
      <p >Développeuse Web Freelance & Spécialiste Réseaux</p>
      <ul class="footer-nav-links">
        <li><a href="https://github.com/soumia22k" target="_blank" class="footer-link"><i class="fab fa-github"></i> GitHub</a></li>
        <li><a href="https://linkedin.com/in/username" target="_blank" class="footer-link"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      </ul>
</footer>
</body>
</html>

