.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: white;
}
.footer-nav-links {
    display: flex;
    list-style: none;
}
.footer-nav-links li {
    margin-right: 1.5rem;
}
.footer-nav-links a {
    color: white;
    text-decoration: none;
}
.footer-nav-links a:hover {
    font-weight: bold;
    border-bottom: 2px solid white;
}