<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
  <section id="about" class="about">
    <h2>À propos de moi</h2>
    <p>Je suis KABLAOUI SOUMIA, technicienne spécialisée en
        infrastructures digitales, option systèmes et réseaux. Mon
        parcours académique m'a permis d'acquérir des compétences
        dans la conception, la mise en œuvre, la gestion et la
        sécurisation des infrastructures réseaux. Forte des stages
        pratiques qui ont enrichi mes compétences techniques et mon
        savoir-faire .
        Et aussi je suis entrainte de faire une formation de dévloppement 
        pour la création des sites web et les applications web .
        </p>
        <div class="skills">
    <h2>Compétences</h2>
    <h5>Dans le domaine de Réseaux informatique</h5>
    <ul>
      <li>Mise en place d’une infrastructure réseaux</li>
      <li>L'administration des systèmes d'exploitation (Linux et Windows)</li>
      <li>Adminstration d’un environement Cloud</li>
      <li>Sécurité d’une infrastrcutre digitale</li>
    </ul>
    <h5>Dans le domaine de dévloppement</h5>
    <ul>
        <li>Les Languages de programmation : C , Java</li>
        <li>Concevoir et Développer la partie frontend une application Web en : HTML , CSS , JavaScript </li>
        <li>Développer des applications Web en L’architecture Java EE </li>
        <li>Développer des applications Web en Angular</li>
    </ul>
        </div>
  </section>
  
</body>
</html>