
<section id="projects" class="projects-container">
    <h1>Mes Projets</h1>
    <p class="subtitle">Découvrez une sélection de mes projets récents</p>
  

    <div class="filters">
      <button class="filter-btn active" #filterBtn data-filter="all" (click)="filterProjects('all')">Tous</button>
      <button class="filter-btn" #filterBtn data-filter="JEE" (click)="filterProjects('JEE')">JEE</button>
      <button class="filter-btn" #filterBtn data-filter="HTML" (click)="filterProjects('HTML')">HTML</button>
      <button class="filter-btn" #filterBtn data-filter="Java" (click)="filterProjects('Java')">Java</button>
    </div>
  
   
    <div class="projects-grid">
      
      <div class="project-card" #projectCard data-category="JEE">
        <img src="/assets/project1.jpg" alt="ConstructionXpert">
        <div class="project-info">
          <h3>La gestion des Projets</h3>
          <p>Application de gestion des projets de construction développée avec JEE.</p>
          <div class="project-tags">
            <span>JEE</span>
          </div>
          <a href="https://github.com/soumia22k/ConstructionXpert" class="project-link">Voir le projet →</a>
        </div>
      </div>
  
  
      <div class="project-card" #projectCard data-category="HTML">
        <img src="/assets/project2.jpg" alt="Application Météo">
        <div class="project-info">
          <h3>App Météo</h3>
          <p>Application web pour afficher les prévisions météo, développée avec HTML, CSS et JavaScript.</p>
          <div class="project-tags">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
          </div>
          <a href="https://github.com/soumia22k/M-teoApp" class="project-link">Voir le projet →</a>
        </div>
      </div>
  
     
      <div class="project-card" #projectCard data-category="Java">
        <img src="/assets/project3.jpg" alt="SportFlow">
        <div class="project-info">
          <h3>SportFlow</h3>
          <p>Application pour gérer les salles de sport, incluant les entraîneurs, séances, etc., développée en Java.</p>
          <div class="project-tags">
            <span>Java</span>
          </div>
          <a href="https://github.com/soumia22k/SportFlow" class="project-link">Voir le projet →</a>
        </div>
      </div>
    </div>
  </section>