<!-- src/app/accueil/accueil.component.html -->
<section id="accueil" class="home">
    <div class="home-content">
      <img src="/src/images/photoprofile.jpeg" alt="Photo de KABLAOUI SOUMIA" class="profile-photo">
      <h1>KABLAOUI SOUMIA</h1>
      <h2>Technicienne spécialisée.</h2>
      <p>Bienvenue sur mon portfolio ! </p>
      <div class="social-links">
        <a href="https://github.com/soumia22k" target="_blank" class="social-icon">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="www.linkedin.com/in/kablaoui-somaya" target="_blank" class="social-icon">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </div>
      <a href="#about" class="cta-button">En savoir plus</a>
    </div>
  </section>
 